@import-normalize; /* bring in normalize.css styles */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');


body {
  margin: 0;
font-family: 'Montserrat', sans-serif;
}


ul,
ol {
  list-style: none;
  padding: 0;
}

p{ margin: 0}

